/* Intro Style */

.intro {
    background: #F3F6F6;
    text-align: left;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.intro-header{
    display: flex;
    align-items: flex-start;
}

.intro-header h1 {
    font-size: 65px;
    color: indigo;
    font-weight: bold;
}

.intro-header h4 {
    font-size: 30px;
    color: indigo;
    justify-self: flex-start;
}


.free-route button {
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-color: #72B5C1;
    color: white;
    font-size: 25px;
}


.intro-video {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}