/* Intro Style */

.intro {
    background: #F8F9FE;
    text-align: left;
    position: relative;
    width: 100%;
    height: 887px;
    left: 0px;
    display: flex;
}

.intro-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 887px;
    left: 0px;
}

.intro-client {
    display: flex;
    width: 100%;
    height: 887px;
    left: 0px;
}

.client-title {
    text-align: center;
}

.client-title h2 {
    color: #423C9D;
    font-weight: 300;
    line-height: 70px;
}

.client-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
}

.client-card Card {
    width: 342px;
    height: 520px;
    background-color: #7DB8C3;
}

.solution-title {
    text-align: center;
}

.solution-title h2 {
    color: #423C9D;
    font-weight: 300;
    line-height: 70px;
}

.solution h3 {
    color: #262262;
    font-weight: 500;
}
